@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Concert+One&family=Khand:wght@300;400;500;600;700&family=Oxygen:wght@300;400;700&family=Permanent+Marker&display=swap');


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20rem;
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(100,100,100);
}
h1{
    font-weight: 900;
}
h2{
    font-size: 100%;
    color: black;
    font-weight: 400;
    font-style: oblique;
    align-items: center;
}

#score{
    background-color: rgb(210, 12, 12);
    text-align: center;
    width: 4rem;
    height: 4rem;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal; 
    font-size: 40px;   
    color: black;
    border-radius: 50%;
}


#questions{
    display: flex;
    padding: 20px
}
#questionscategories{
    display:flex;
    flex-direction: row;
   
}
.categorybutton{
    background-color: black;
    color: azure;
    padding: 1rem;
    justify-content: space-between;
    margin: 1rem;
    border-radius: 10%;
}

#answers{ 
    display: none;
    flex-direction: column;

}
.multiplechoice{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    color: azure;
    height: 2rem;
    margin: 1em;
    border-radius: 10%;
}

#message{
    font-family: "Khand", sans-serif;
    font-weight: 600;
    font-style: normal;

}